<!-- Begin Page Container -->
<div class="container" id="wrap">

    <!-- Burgie Header -->
    <img src="./assets/img/burgie.png">

    <!-- Begin First Row -->
    <div class="row">

        <div class="col-12">

            <h1>Welcome to Burgie's AdoraBurger!</h1>

            <h2>May is Pokémon Burger Month!</h2>

        </div>

    <!-- End First Row -->
    </div>

    <!-- Begin Second Row -->
    <div class="row">

        <div class="col-6">
            <h5>Try One of These!</h5>
                {{#each burgers}}
                    {{#if !this.devoured}}
                    <p>
                        {{this.burger_name}}
                    </p>
                    {{/if}}
                {{/each}}
        </div>

        <div class="col-6">
            <h5>Consumed, But Not Forgotten</h5>
                {{#each burgers}}
                    {{#if this.devoured}}
                    <p>
                        {{this.burger_name}}
                    </p>
                    {{/if}}
                {{/each}}
        </div>

    <!-- End First Row -->
    </div>

<!-- End Page Container -->
</div>