body {
    text-align: center;
    font-family: 'Oldenburg', cursive;
    background-color: #E1454F;
}

h1 {
    font-family: 'Ribeye Marrow', cursive;
    color: #E1454F;
    font-size: 52px;
    text-shadow:
		-1px -1px 0 #C5DCCE,
		1px -1px 0 #C5DCCE,
		-1px 1px 0 #C5DCCE,
		1px 1px 0 #C5DCCE;
}

h2 {
    font-family: 'Ribeye', cursive;
    color: #69425A;
    text-decoration: underline;
}

ul, p {
    color: #69425A;
    background-color: #EBEBBB;
    border: 1px solid #C5DCCE;
}

p {
    padding: 10px;
}

.row {
    margin-top: 10px;
    background-color: #F6A09E;
    padding: 10px 10px 10px 10px;
    border: 5px solid #B92D3E;
}

.embed-responsive {
    margin-left: 15%;
    width: 70%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 2px solid #69425A;
}

#wrap {
    margin-bottom: 50px;
}