/*font-family: 'Oldenburg', cursive;
font-family: 'Ribeye Marrow', cursive;
font-family: 'Ribeye', cursive;*/

body {
    text-align: center;
    font-family: 'Oldenburg', cursive;
}

h1 {
    font-family: 'Ribeye Marrow', cursive;
}

h2 {
    font-family: 'Ribeye', cursive;*/
}